{% extends './layouts/base.html' %}
{% block content %}

<!-- {% block title %}
  Página inicial
{% endblock %} -->

{% block script %}
  <script src="/js/index.js" charset="utf-8"></script>
{% endblock %}

<img class="img-gif" src="https://www.caviarcriativo.com/storage/2020/06/Significados-da-Marca-Netflix-1.gif" alt="">

<div class="container">
  <div class="content-info">
    <h3 class="title-initial">Descobra o filme ideal para seu dia!</h3>
    <hr>
    <span class="span-initial">Dentro da aba "Busque seu filme" você poderá descrever como está se sentindo e indicaremos 3 filmes ideais para o seu dia.</span>
  </div>
</div>

{% endblock %}

{% block styles %}
  <link rel="stylesheet" href="/styles/index.css">
{% endblock %}