.infos-before {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: #2b2c37bd;
    border-radius: 30px;
    padding: 40px;
}

.content-info {
    display: flex;
    width: 100%;
    /* height: 92vh; */
    background-color: #1A1B24;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-initial {
    color: white;
}

.span-initial {
    color: white;
}

.form-film {
    display: flex;
    flex-direction: column;
    width: 39%;
}

.invaid-input {
    border: 2px solid red;
    background: #ffcece;
}

.container {
    display: flex;
    width: 100%;
}

.films {
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* 1 */
.film1 {
    position: absolute;
    opacity: 0.3;
}

.film1-content {
    position: absolute;
    display: flex;
    width: 100%;
    padding: 4%;
}

.img-bn-1 {
    height: 450px;
    width: 300px;
}

.content-film-1 {
    display: flex;
    flex-direction: column;
    padding: 4%;
}

.title-1 {
    font-size: 50px;
    font-weight: bold;
    color: white;
}

.language-1 {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.sinopse-title-1 {
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    color: white;
}


.sinopse-1 {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.gender-1 {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

/* 2 */
.film2 {
    position: absolute;
    opacity: 0.3;
}

.film2-content {
    position: absolute;
    display: flex;
    width: 100%;
    padding: 4%;
}

.img-bn-2 {
    height: 450px;
    width: 300px;
}

.content-film-2 {
    display: flex;
    flex-direction: column;
    padding: 4%;
}

.title-2 {
    font-size: 50px;
    font-weight: bold;
    color: white;
}

.language-2 {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.sinopse-title-2 {
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    color: white;
}

.sinopse-2 {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.gender-2 {
    font-size: 20px;
    font-weight: bold;
    color: white;
}


/* 3 */
.film3 {
    position: absolute;
    opacity: 0.3;
}

.film3-content {
    position: absolute;
    display: flex;
    width: 100%;
    padding: 4%;
}

.img-bn-3 {
    height: 450px;
    width: 300px;
}

.content-film-3 {
    display: flex;
    flex-direction: column;
    padding: 4%;
}

.title-3 {
    font-size: 50px;
    font-weight: bold;
    color: white;
}

.language-3 {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.sinopse-title-3 {
    font-size: 20px;
    font-weight: bold;
    text-decoration: underline;
    color: white;
}

.sinopse-3 {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.gender-3 {
    font-size: 20px;
    font-weight: bold;
    color: white;
}

img {
    width: 100%;
}